<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<form action="/create" method="post" enctype="application/x-www-form-urlencoded">

    <div>Name : <input name="name" value=" <%= data.name %>"></div>
    <div>age : <input name="age" value="<%= data.age %>"></div>
    <div>Address : <input name="address" value=" <%= data.address %>"></div>

    <button type="submit">Update</button>

</form>

<% for(var i = 0;i < data.length; i++){ %>

    <hr>
    <div>ID : <%= data[i]._id %></div>
    <div>name : <%= data[i].name %></div>
    <div>age : <%= data[i].age %></div>
    <div>address :
<!--        <%= data[i].address %>-->
        <img src=<%= data[i].address %> alt="" srcset="">
    </div>
    <a href="/delete/?id=<%= data[i]._id %>">Delete</a>
    <a href="/updateForm/?id=<%= data[i]._id %>">Update</a>

<% } %>

</body>
</html>
